footer {
    width: 100%;
    padding: 10px;
    border-top: 2px solid black;
    margin-top: 0px;
}

.flexContainer {
    display: flex;
    
    align-items: center;
    list-style-type: none;
    justify-content: center;
    li {
        padding: 2rem;
        height: 30px;
    }
    ul {
        width: 100%;
    
    }
}

.redes {
    max-width: 30px;
    max-height: 30px;
}
.gridFooter{
    display: grid;
    height: 50px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}
.footerSecciones ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        text-decoration: none;
        color: black;
        padding: 1rem;
    }
    
}
