@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Poppins:wght@200&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}
@import "variables";
@import "mixing";
@import "index";
@import "producto";
@import "nosotros";
@import "contacto";
@import "navbar";
@import "footer";
@import "logoWhatsapp";
@import "carrito";