@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Poppins:wght@200&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
}

/*mobile*/

/* .gridContent {
    display: grid;
   width: fit-content;
}  */

/* header {
    margin-bottom: 20px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    background: white;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid black;

} */
.divindex {
    size: 3px;
    border-width: 0;
    color: black;
    background-color: black;
    width: 50%;
    margin: auto;
}

body {
    font-family: 'Roboto', sans-serif;
}

.responsiveimg {
    max-width: 4rem;
    max-height: 4rem;
}

.cardInfo {
    max-width: 10rem;
    height: 15rem;
    background-color: black;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cardInfo img {
    width: 140px;
    height: 130px;
    margin-bottom: 2rem;
}

.cardInfo .descCard {
    color: white;
    font-size: x-small;
    font-weight: bold;

}

.cardInfo .titleCard {
    color: white;
    font-weight: bold;
    font-size: small;
}

.containerCards {
    display: flex;
    width: 100%;
    margin-top: 2rem;
}

/* .checkbtn {
    font-size: 30px;
    color: black;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    float: right;
    margin-top: 1rem;
}

#check {
    display: none;
}

.checkbtn {
    display: block;
}

nav ul {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    margin-top: 5px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    margin-top: -40px;
}

nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;

}

nav ul li a {
    font-size: 20px;
    color: white;
    text-decoration: none;

}
*/
nav ul li a:hover {
    font-weight: bold;
    color: gray;
}

/* #check:checked~ul {
    left: 0;

}  */
.navcolor {
    background-color: white;
    min-height: 5rem
}

.iconsNav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style-type: none;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 800,
        'GRAD' 0,
        'opsz' 48
}

.mainImg {
    display: flex;
    justify-content: center;
    

}

.mainImg img {
    width: 100%;
    max-height: 300px;

}

.titleProdDest {
    margin-top: 3rem;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 5rem;

}

.prodDest img {
    width: 268px;
    height: 333px;
    margin-bottom: 1rem;
}

.prodDest {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
    justify-items: center;
}

.detalleprod {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.detalleprod p {
    font-size: medium;
}

footer {
    width: 100%;
    padding: 10px;
    border-top: 2px solid black;
    margin-top: 0px;
}

.flexContainer {
    display: flex;
    height: 50px;
    align-items: center;
    list-style-type: none;
    justify-content: center;

}

.flexContainer li {
    padding: 2rem;
}

.flexContainer ul {
    width: 100%;

}

.redes {
    max-width: 30px;
    max-height: 30px;
}

.title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    font-weight: bold;

}

.productos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin-left: 5px;
    margin-right: 5px;
    justify-items: center;
}

.productos img {
    width: 168px;
    height: 233px;
    margin-bottom: 1rem;
}

.detalleprod {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.detalleprod p {
    font-size: medium;
    margin-bottom: 1rem;
    text-align: center;

}

.precio {
    font-weight: bold;
    font-size: large;

}

.aboutUsPage {
    background-image: url(../images/DSCN0240.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: auto;
    height: auto;
}

.nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

.nosotros h2 {
    font-size: 2rem;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: rem;
    color: white;
}

.nosotros p {
    font-size: 1rem;
    text-align: center;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 4rem;
    color: white;
}


.subtitle {
    width: 100%;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-weight: bold;
    color: white
}

.infoNosotros {
    list-style-type: none;
    margin-bottom: 0;
}

.flexInfo {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    margin-left: 3rem;

}

.flexInfo p {
    margin-bottom: 0;
    margin-left: 50px;
    font-weight: bold;
    margin-right: 5rem;
    color: white;
}

.contactPage {
    background-image: url(../images/1.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: auto;
    height: auto;
}

.contactanos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 1rem;
    flex-direction: column;
    height: 15rem;
    width: 30rem;
    margin-left: auto;
    margin-right: auto;



}

.contactanos h1 {
    font-size: 2rem;
}

.contactanos article {
    font-size: 1rem;
}

@media(min-width:768px) {
    .mainImg img {
        width: 100%;
        height: 500px;
        margin-top: 0;
    }

    .prodDest img {
        width: 200px;
        height: 250px;
        margin-bottom: 1rem;
    }

    .prodDest {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 2rem;
        justify-items: center;
    }

    .productos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1rem;
        margin-left: 5px;
        margin-right: 5px;
        justify-items: center;
    }


}

@media(min-width:1024px) {
    .logo {
        max-width: 6rem;
        max-height: 6rem;
        margin-left: 10rem;
        margin-bottom: 0;
        margin-top: 1rem;
        float: left;

    }

    .navcolor {
        border-bottom: 2px solid black;
    }

    /* header {
        background-color: white;

        align-items: center;

        border-bottom: 1px black solid;
        height: auto;


    } */
    .responsiveimg {
        max-width: 7.5rem;
        max-height: 7.5rem;
    }


    .grid {
        display: grid;
        grid-template-columns: 1fr 3fr;

    }

    .containerCards {
        display: flex;
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 5rem;
    }

    .cardInfo {
        max-width: 20rem;
        height: 25rem;
        background-color: black;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* nav ul {
        position: relative;
        width: 100%;
        height: auto;
        left: auto;
        background-color: white;
        justify-content: center;
        text-align: center;
        display: flex;
        margin-top: 0;
        transition: none;
        margin-bottom: 0;
        gap: 200px;

    } */

    /* .checkbtn {
        display: none;
    } */
    /* 
    nav ul li {
        padding-left: 2rem;
        padding-right: 2rem;
        display: inline-block;


    }
    

    nav ul li a {
        text-decoration: none;
        color: black;
        font-size: 1rem;



    } */

    /* .iconsNav {
        position: relative;
        padding: 5px;


    } */

    .mainImg {

        width: 100%;

        margin-right: 10rem;
        margin-bottom: 1rem;
        margin-top: 2px;
    }

    .mainImg img {
        min-height: 800px;
    }

    .prodDest img {
        width: 368px;
        height: 433px;
        margin-bottom: 1rem;
    }

    .title {
        margin-left: 7rem;
    }

    .productos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 4rem;
        margin-left: 7rem;
        margin-right: 7rem;
        justify-items: center;
    }

    .productos img {
        width: 368px;
        height: 433px;
        margin-bottom: 1rem;
    }
    .nosotros{
        margin-left: 20rem;
        margin-right: 20rem;
        padding-top: 10rem;
    }
    .nosotros h2 {
        grid-area: titulo;
        font-size: 4rem;
    }

    .nosotros p {
        grid-area: info;
        font-size: 1.5rem;
    }

    .nosotros .divisor {
        grid-area: divisor;
    }

    .nosotros img {
        grid-area: imagen;
    }


    .divAbout {
        height: 10px;
        border-width: 0;
        color: white;
        background-color: white;
        width: 50%;
        margin: auto;
    }


    .logoContacto {
        width: 30rem;
        height: 30rem;
        margin-left: 1rem;

    }

    .subtitle {
        width: 100%;
        text-align: center;
        margin-top: 0;
        margin-bottom: 3rem;
        font-weight: bold;
        font-size: x-large;
    }

    .flexInfo {
        margin-left: 10rem;
    }



}